// Bootstrap variables
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #8f959e !default;
$gray-600: #6a737b !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #1d2125 !default;
$black: #000 !default;

$blue: #0f6cbf !default;
$indigo: #6610f2 !default;
$purple: #613d7c !default;
$pink: #e83e8c !default;
$red: #ca3120 !default;
$orange: #f0ad4e !default;
$yellow: #ff7518 !default;
$green: #357a32 !default;
$teal: #20c997 !default;
$cyan: #008196 !default;

$primary: $orange !default;
$success: $green !default;
$info: $cyan !default;
$warning: $orange !default;
$danger: $red !default;
$secondary: $gray-400 !default;

$info-outline: #1f7e9a;
$warning-outline: #a6670e;

// Tables
$table-accent-bg: rgba($black, .03) !default;

// Options
$enable-responsive-font-sizes: true !default;

// Body
$body-color: $gray-900 !default;

// Fonts
$font-size-base: 0.9375rem !default;
$rfs-base-font-size: 0.9rem !default;
$headings-font-weight: 700 !default;

// Navbar
$navbar-dark-hover-color: rgba($white, 1) !default;
$navbar-light-color: rgba($black, 0.6) !default;
$navbar-light-hover-color: rgba($black, .9) !default;

// Breadcrumbs
$breadcrumb-padding-y: .5rem !default;
$breadcrumb-padding-x: 0 !default;
$breadcrumb-item-padding: .5rem !default;
$breadcrumb-margin-bottom: 0 !default;
$breadcrumb-bg: transparent !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

// Alerts
$alert-border-width: 0 !default;

$card-group-margin: .25rem;

// Toasts
$toast-color: $white !default;
$toast-background-color: rgba($gray-900, .95) !default;
$toast-header-color: $gray-100 !default;
$toast-header-background-color: rgba($white, .1) !default;

// Custom control size
$custom-control-indicator-size: 1.25rem;

$input-btn-focus-color: rgba($primary, .75) !default;

$input-border-color: $gray-500 !default;

$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;

$popover-max-width: 300px !default;

$border-radius: .5rem !default;
$border-radius-lg: .6rem !default;

// stylelint-disable
$theme-colors: () !default;
$theme-colors: map-merge((
    primary: $primary,
    secondary: $secondary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger,
), $theme-colors);
// stylelint-enable

$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 2),
    6: ($spacer * 3)
) !default;

// Import FontAwesome.
@import "fontawesome";

// Import All of Bootstrap
@import "bootstrap";

// Import Core moodle CSS
@import "moodle";

@import "variables";

// Preset CSS

$navbar-height: 50px;
$moremenu-height: 50px;

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
}

// Rounded user pictures
.userpicture {
    border-radius: 50%;
}

// Reset the default styling back to the bootstrap defaults for
// the secondary outline button because gray-200 is much too light
// for an outline button.
.btn-outline-secondary {
    @include button-outline-variant($gray-600);
    border-color: $gray-600;
}

.btn-outline-info {
    @include button-outline-variant($info-outline);
}

.btn-outline-warning {
    @include button-outline-variant($warning-outline);
}

///////////////

/**
 * Règles CSS générales.
 */
html {
    height: 100%;
}

body {
    min-height: 100%;
}


.editor_atto_content[contenteditable=false] {
    background-color: #e9ecef;
    cursor: not-allowed;
}

.navbar.fixed-top {
    border-bottom: none;
}

/*.navbar{*/
/*    height: auto;*/
/*}*/

/**
 * Règles CSS pour la homepage.
 */
#page-site-index {
    height: 100%;
    margin: 0;
    padding: 0;
}

#page-site-index #page-content {
    display: block;
}

/* Important: permet d'afficher l'accueil sur 100% de la largueur (MOODLE 4.*) */
#page-site-index #page-content.blocks-pre .region-main #region-main {
    padding: 0;
}

/* Important: évite le décalage des blocs dans le menu d'administration */
#page-content.blocks-pre .region-main #region-main {
    padding-top: 0;
}

/* Masque les annonces, le header, les blocs et le footer sur la page d'accueil. */
#page-login-index #apsolu-topofbody,
#page-site-index #apsolu-topofbody,
#page-site-index #page-header,
#page-site-index #page-content > .columnleft,
#page-site-index #page-content > .columnright,
#page-site-index #apsolu-page ~ *,
#page-site-index #page-footer {
    display: none;
}

/* Important: permet à l'en-tête de ne pas empiéter sur la photo d'accueil */
#page-site-index {
    padding-top: 99px; /* Correspond à la taille de l'en-tête */
}

#page-site-index #page,
#page-site-index #region-main {
    margin: 0;
    padding: 0;
}

#page-site-index #page-content.blocks-pre .region-main {
    flex: 0 0 100%;
    max-width: none;
}

/* Important : évite la bordure blanche par défaut */
#page-content.blocks-pre .region-main #region-main {
    border: none;
}

#page-site-index #page,
#page-site-index #page-content,
#page-site-index #region-main-box,
#page-site-index #region-main,
#page-site-index #region-main > div,
#apsolu-page {
    display: block;
    float: none;
    /*height: 100%;*/
    left: 0;
    margin: 0;
    max-width: 100%;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%;
}

.navbar-header .guest {
    display: none;
}

.dropdown-menu {
}

/**
 * Règles CSS pour les blocs de la homepage.
 */
.apsolu-brand {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0;
    min-height: 50px; /* Important : force le nom de l'instance à prendre toute la hauteur quand le logo n'est pas affiché. */
}

.apsolu-brand a:hover {
    text-decoration: none;
}

nav.navbar .logo img {
    max-height: 2em;
}

.navbar-brand {
    font-size: 1.5em;
    line-height: inherit;
    white-space: nowrap;
}

/* Homepage: articles */
.apsolu-article {
    background: #f2f2f2;
    padding: 2em;
}

#accueil.apsolu-article {

}

#formats-cours.apsolu-article {

}

#adhesion.apsolu-article {

}

#inscription.apsolu-article {

}

/* Homepage: blocs images */
#page-site-index .apsolu-images {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    min-height: 100%;
    overflow: hidden;
    padding-top: 5%;
}

/* Résolutions inférieures à 480px de large. */
@media (max-width: 479px) {
    #page-site-index #section-1.apsolu-images {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_1_240x160]]');
        height: 160px;
    }

    #page-site-index #section-2.apsolu-images {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_2_240x160]]');
        height: 160px;
    }

    #page-site-index #section-3.apsolu-images {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_3_240x160]]');
        height: 160px;
    }
}

/* Résolutions supérieures ou égales à 480px de large. */
@media (min-width: 480px) {
    #page-site-index #section-1.apsolu-images {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_1_480x320]]');
        height: 320px;
    }

    #page-site-index #section-2.apsolu-images {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_2_480x320]]');
        height: 320px;
    }

    #page-site-index #section-3.apsolu-images {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_3_480x320]]');
        height: 320px;
    }
}

/* Résolutions supérieures ou égales à 1024px de large. */
@media (min-width: 1024px) {
    #page-site-index #section-1.apsolu-images {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_1_960x640]]');
        height: 50vh;
    }

    #page-site-index #section-2.apsolu-images {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_2_960x640]]');
        height: 50vh;
    }

    #page-site-index #section-3.apsolu-images {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_3_960x640]]');
        height: 50vh;
    }
}

.pagelayout-login #page {
    background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_1_960x640]]');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
}

.apsolu-contents {
    padding-top: 3em;
    padding-bottom: 20px;
    margin: auto;
}

/* Homepage: crédits photos */
.apsolu-photo-credits {
    margin: 0.8em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    font-size: .8em;
}

.apsolu-photo-credits p {
    margin: 0;
}

.apsolu-photo-credits a {
    text-decoration: underline;
}

/* Homepage: pied de page */
#apsolu-homepage-footer {
    background-color: lightgrey;
}

#apsolu-homepage-footer-navigation {
    color: red;
    height: 2em;
}

#apsolu-footer-navigation a {
    background: blue;
}

.btn-activite {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#apsolu-logo-div {
    align-items: center;
    display: flex;
    margin-bottom: 2em;
}

#logo-siuaps-div img {
    height: auto;
    width: 45%;
}

#logo-rennes1-div img {
    height: auto;
    width: 75%;
}

#logo-rennes2-div img {
    height: auto;
    width: 45%;
}

/* Homepage : activities. */
#apsolu-activities-list-ul {
    margin-bottom: 0;
}

#apsolu-activities-list-ul .list-group-item {
    padding: .2em .5em;
}

.apsolu-homepage-activities-items-span {
    display: block;
    padding: .5em 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    word-break: break-all;
}

#apsolu-activities-list-h3 {
}

/* Homepage: inscription. */
.apsolu-inscription {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.apsolu-inscription a {
    white-space: normal;
    margin-top: 20px;
}

.apsolu-register-dl {
    margin-left: 2em;
}

.apsolu-register-dt,
.apsolu-register-dd {
    display: inline;
}

.apsolu-register-dt:after {
    content: ' : ';
}


/**
 * Règles CSS pour la page d'authentification.
 */
#page-login-index .potentialidp {
    margin: 1em 0;
}

#page-login-index .potentialidp img {
    display: none;
}

#page-auth-shibboleth-login #region-main .card.mt-1 {
    display: none;
}

/**
* Navigation
**/
.apsolu-navbar {
    min-height: 50px;
    padding: unset; /* Important: permet au brand de prendre toute la hauteur */
}

/* Important : permet au menu déroulant d'avoir un fond sur viewport réduit */
.navbar.fixed-top {
    height: auto;
}

#apsolu-header-navbar.apsolu-navbar {
    padding-left: 0;

}

#apsolu-header-navbar.navbar.fixed-top {
    /*align-items: normal;*/
    border-bottom: 2px #00b395;
    color: white;
    /*z-index: 1050;*/
    padding-right: 1em;
}

#apsolu-homepage-navbar.navbar.fixed-top {
    /*align-items: normal;*/
    background: $secondary;
    color: white;
    border-top: 4px solid $primary;
    margin-top: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.primary-navigation .navigation .nav-link {
    color: white;
}

/**
 * Règles CSS pour la personnalisation des couleurs.
 */

.apsolu-link-dark a {
    color: black;
}

.apsolu-link-light a {
    color: white;
}

.dropdown-menu a {
    color: #004d40;
}

.apsolu-link-custom a {
    color: blue;
}

.apsolu-color-custom-1 {
    background-color: $primary;
}

.apsolu-color-custom-2 {
    background-color: $secondary;
}

#apsolu-custom-footer {
}

///* Homepage: Personnalisation barre de défilement */
//.region-main {
//    scrollbar-color: #004D40 #00B395;
//}

/**
 *Commente le !important pour passer le test de coding style.
 *Trouver une solution pour améliorer l'affichage de la politique du site.
 */

/*
#page-user-policy #resourceobject {
    height: 1000px !important;
}
*/
