/**
 * Règles CSS générales.
 */
html {
    height: 100%;
}

body {
    min-height: 100%;
}


.editor_atto_content[contenteditable=false] {
    background-color: #e9ecef;
    cursor: not-allowed;
}

.navbar.fixed-top {
    border-bottom: none;
}

/*.navbar{*/
/*    height: auto;*/
/*}*/

/**
 * Règles CSS pour la homepage.
 */
#page-site-index {
    height: 100%;
    margin: 0;
    padding: 0;
}

#page-site-index #page-content {
    display: block;
}

/* Important: permet d'afficher l'accueil sur 100% de la largueur (MOODLE 4.*) */
#page-site-index #page-content.blocks-pre .region-main #region-main {
    padding: 0;
}

/* Important: évite le décalage des blocs dans le menu d'administration */
#page-content.blocks-pre .region-main #region-main {
    padding-top: 0;
}

/* Masque les annonces, le header, les blocs et le footer sur la page d'accueil. */
#page-login-index #apsolu-topofbody,
#page-site-index #apsolu-topofbody,
#page-site-index #page-header,
#page-site-index #page-content > .columnleft,
#page-site-index #page-content > .columnright,
#page-site-index #apsolu-page ~ *,
#page-site-index #page-footer {
    display: none;
}

/* Important: permet à l'en-tête de ne pas empiéter sur la photo d'accueil */
#page-site-index {
    padding-top: 99px; /* Correspond à la taille de l'en-tête */
}

#page-site-index #page,
#page-site-index #region-main {
    margin: 0;
    padding: 0;
}

#page-site-index #page-content.blocks-pre .region-main {
    flex: 0 0 100%;
    max-width: none;
}

/* Important : évite la bordure blanche par défaut */
#page-content.blocks-pre .region-main #region-main {
    border: none;
}

#page-site-index #page,
#page-site-index #page-content,
#page-site-index #region-main-box,
#page-site-index #region-main,
#page-site-index #region-main > div,
#apsolu-page {
    display: block;
    float: none;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: 100%;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%;
}

.navbar-header .guest {
    display: none;
}

.dropdown-menu {
}

/**
 * Règles CSS pour les blocs de la homepage.
 */
.apsolu-brand {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0;
    min-height: 50px; /* Important : force le nom de l'instance à prendre toute la hauteur quand le logo n'est pas affiché. */
}

.apsolu-brand a:hover {
    text-decoration: none;
}

nav.navbar .logo img {
    max-height: 2em;
}

.navbar-brand {
    font-size: 1.5em;
    line-height: inherit;
    white-space: nowrap;
}

/* Homepage: articles */
.apsolu-article {
    background: #F2F2F2;
    padding: 2em;
}

#accueil.apsolu-article {

}

#formats-cours.apsolu-article {

}

#adhesion.apsolu-article {

}

#inscription.apsolu-article {

}

/* Homepage: blocs images */
#page-site-index .apsolu-images {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    min-height: 100%;
    overflow: hidden;
    padding-top: 5%;
}

/* Résolutions inférieures à 480px de large. */
@media (max-width: 479px) {
    #page-site-index #section-1.apsolu-images {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_1_240x160]]');
        height: 160px;
    }

    #page-site-index #section-2.apsolu-images {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_2_240x160]]');
        height: 160px;
    }

    #page-site-index #section-3.apsolu-images {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_3_240x160]]');
        height: 160px;
    }
}

/* Résolutions supérieures ou égales à 480px de large. */
@media (min-width: 480px) {
    #page-site-index #section-1.apsolu-images {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_1_480x320]]');
        height: 320px;
    }

    #page-site-index #section-2.apsolu-images {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_2_480x320]]');
        height: 320px;
    }

    #page-site-index #section-3.apsolu-images {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_3_480x320]]');
        height: 320px;
    }
}

/* Résolutions supérieures ou égales à 1024px de large. */
@media (min-width: 1024px) {
    #page-site-index #section-1.apsolu-images {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_1_960x640]]');
        height: 50vh;
    }

    #page-site-index #section-2.apsolu-images {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_2_960x640]]');
        height: 50vh;
    }

    #page-site-index #section-3.apsolu-images {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_3_960x640]]');
        height: 50vh;
    }
}

.pagelayout-login #page {
    background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_1_960x640]]');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
}

.apsolu-contents {
    padding-top: 3em;
    padding-bottom: 20px;
    margin: auto;
}

/* Homepage: crédits photos */
.apsolu-photo-credits {
    margin: 0.8em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    font-size: .8em;
}

.apsolu-photo-credits p {
    margin: 0;
}

.apsolu-photo-credits a {
    text-decoration: underline;
}

/* Homepage: pied de page */
#apsolu-homepage-footer {
    background-color: lightgrey;
}

#apsolu-homepage-footer-navigation {
    color: red;
    height: 2em;
}

#apsolu-footer-navigation a {
    background: blue;
}

.btn-activite {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#apsolu-logo-div {
    align-items: center;
    display: flex;
    margin-bottom: 2em;
}

#logo-siuaps-div img {
    height: auto;
    width: 45%;
}

#logo-rennes1-div img {
    height: auto;
    width: 75%;
}

#logo-rennes2-div img {
    height: auto;
    width: 45%;
}

/* Homepage : activities. */
#apsolu-activities-list-ul {
    margin-bottom: 0;
}

#apsolu-activities-list-ul .list-group-item {
    padding: .2em .5em;
}

.apsolu-homepage-activities-items-span {
    display: block;
    padding: .5em 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    word-break: break-all;
}

#apsolu-activities-list-h3 {
}

/* Homepage: inscription. */
.apsolu-inscription {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.apsolu-inscription a {
    white-space: normal;
    margin-top: 20px;
}

.apsolu-register-dl {
    margin-left: 2em;
}

.apsolu-register-dt,
.apsolu-register-dd {
    display: inline;
}

.apsolu-register-dt:after {
    content: ' : ';
}


/**
 * Règles CSS pour la page d'authentification.
 */
#page-login-index .potentialidp {
    margin: 1em 0;
}

#page-login-index .potentialidp img {
    display: none;
}

#page-auth-shibboleth-login #region-main .card.mt-1 {
    display: none;
}

/**
* Navigation
**/
.apsolu-navbar {
    min-height: 50px;
    padding: unset; /* Important: permet au brand de prendre toute la hauteur */
}

/* Important : permet au menu déroulant d'avoir un fond sur viewport réduit */
.navbar.fixed-top {
    height: auto;
}

#apsolu-header-navbar.apsolu-navbar {
    padding-left: 0;

}

#apsolu-header-navbar.navbar.fixed-top {
    /*align-items: normal;*/
    border-bottom: 2px #00B395;
    color: white;
    z-index: 1050;
    padding-right: 1em;
}

#apsolu-homepage-navbar.navbar.fixed-top {
    /*align-items: normal;*/
    background: #004D40;
    color: white;
    border-top: 4px solid #00B395;
    margin-top: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.primary-navigation .navigation .nav-link {
    color:white;
}

/**
 * Règles CSS pour la personnalisation des couleurs.
 */

.apsolu-link-dark a {
    color: black;
}

.apsolu-link-light a {
    color: white;
}

.dropdown-menu a {
    color: #004D40;
}

.apsolu-link-custom a {
    color: blue;
}

.apsolu-color-custom-1 {
    background-color: #00B395;
}

.apsolu-color-custom-2 {
    background-color: #004D40;
}

#apsolu-custom-footer {
}

/* Homepage: Personnalisation barre de défilement */
.region-main {
    scrollbar-color: #004D40 #00B395;
}

/**
 *Commente le !important pour passer le test de coding style.
 *Trouver une solution pour améliorer l'affichage de la politique du site.
 */

/*
#page-user-policy #resourceobject {
    height: 1000px !important;
}
*/
