#page-login-index .potentialidp {
    margin: 1em 0;
}

#page-login-index .potentialidp img {
    display: none;
}

#page-auth-shibboleth-login #region-main .card.mt-1 {
    display: none;
}

/*
Commente le !important pour passer le test de coding style.
Trouver une solution pour améliorer l'affichage de la politique du site.
*/
/*
#page-user-policy #resourceobject {
    height: 1000px !important;
}
*/
