/**
 * Règles CSS générales.
 */
html {
    height: 100%;
}

.navbar-header .guest {
    display: none;
}

/**
 * Règles CSS pour la homepage.
 */
#page-site-index {
    height: 100%;
    margin: 0;
    padding: 0;
}

#page-site-index #page-content {
    display: block;
}

/* Masque les annonces, le header, les blocs et le footer sur la page d'accueil. */
#page-login-index #apsolu-topofbody,
#page-site-index #apsolu-topofbody,
#page-site-index #page-header,
#page-site-index #page-content > .columnleft,
#page-site-index #page-content > .columnright,
#page-site-index #apsolu-page ~ *,
#page-site-index #page-footer {
    display: none;
}

#page-site-index #page,
#page-site-index #region-main {
    margin: 0;
    padding: 0;
}

#page-site-index #page-content.blocks-pre .region-main {
    flex: 0 0 100%;
    max-width: none;
}

#page-site-index #page,
#page-site-index #page-content,
#page-site-index #region-main-box,
#page-site-index #region-main,
#page-site-index #region-main > div,
#apsolu-page {
    display: block;
    float: none;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: 100%;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%;
}

.apsolu-pages {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    min-height: 100%;
    overflow: hidden;
    padding-top: 5%;
}

/* Résolutions inférieures à 480px de large. */
@media (max-width: 479px) {
    .apsolu-pages:nth-child(2) {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_1_240x160]]');
    }

    .apsolu-pages:nth-child(3) {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_2_240x160]]');
    }

    .apsolu-pages:nth-child(4) {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_3_240x160]]');
    }
}

/* Résolutions supérieures ou égales à 480px de large. */
@media (min-width: 480px) {
    .apsolu-pages:nth-child(2) {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_1_480x320]]');
    }

    .apsolu-pages:nth-child(3) {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_2_480x320]]');
    }

    .apsolu-pages:nth-child(4) {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_3_480x320]]');
    }
}

/* Résolutions supérieures ou égales à 1024px de large. */
@media (min-width: 1024px) {
    .apsolu-pages:nth-child(2) {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_1_960x640]]');
    }

    .apsolu-pages:nth-child(3) {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_2_960x640]]');
    }

    .apsolu-pages:nth-child(4) {
        background-image: url('[[THEME_APSOLU:BACKGROUND_IMAGE_3_960x640]]');
    }
}

.apsolu-contents {
    padding-top: 3em;
    padding-bottom: 20px;
    margin: auto;
}

.apsolu-opac-text {
    background-color: rgba(255, 255, 255, .8);
    border: .1em solid #fff;
    border-radius: .5em;
    padding: 3em 1em 1em 1em;
}

#accueil .apsolu-opac-text,
#inscription .apsolu-opac-text {
    margin-top: 2%;
}

/* Homepage: menu */
.apsolu-scroll-menu {
    position: fixed;
    top: 15%;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.5em;
    z-index: 1;
}

.apsolu-scroll-menu ul {
    margin: 0;
    padding: 0;
    border-left: 5px solid #6f787b;
    overflow: hidden;
}

.apsolu-scroll-menu li {
    padding: 0;
    margin-top: 3px;
    list-style: none;
}

.apsolu-scroll-menu li:first-child {
    margin-top: 0;
}

.apsolu-scroll-menu .btn {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: block;
    padding: 5px 10px;
}

@media (max-width: 994px) {
    .apsolu-scroll-menu {
        bottom: 0;
        display: block;
        left: unset;
        position: fixed;
        top: unset;
        width: 100%;
    }

    #apsolu-scroll-menu-links {
        display: block;
        margin: auto;
        text-align: center;
        width: 100%;
    }

    #apsolu-scroll-menu-links li {
        display: inline-block;
    }

    .apsolu-scroll-menu .btn {
        font-size: .7em;
    }
}

/* Homepage: home. */
/* TODO: RM ! */
#apsolu-logo-div {
    align-items: center;
    display: flex;
    margin-bottom: 2em;
}

#logo-siuaps-div img {
    height: auto;
    width: 45%;
}

#logo-rennes1-div img {
    height: auto;
    width: 75%;
}

#logo-rennes2-div img {
    height: auto;
    width: 45%;
}

/* Homepage : activities. */
#apsolu-activities-list-ul {
    margin-bottom: 0;
}

#apsolu-activities-list-ul .list-group-item {
    padding: .2em .5em;
}

.apsolu-homepage-activities-items-span {
    display: block;
    padding: .5em 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    word-break: break-all;
}

#apsolu-activities-list-h3 {
    margin-top: -1em;
}

/* Homepage: inscription. */
#inscription {
    padding-bottom: 15%;
}

.apsolu-inscription {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.apsolu-inscription a {
    white-space: normal;
    margin-top: 20px;
}

.apsolu-register-dl {
    margin-left: 2em;
}

.apsolu-register-dt,
.apsolu-register-dd {
    display: inline;
}

.apsolu-register-dt:after {
    content: ' : ';
}

.apsolu-photo-credits {
    font-size: .85em;
    margin: 0;
    padding: 2em 0 0 0;
}

.apsolu-photo-credits a {
    text-decoration: underline;
}

/**
 * Règles CSS pour la page d'authentification.
 */
#page-login-index .potentialidp {
    margin: 1em 0;
}

#page-login-index .potentialidp img {
    display: none;
}

#page-auth-shibboleth-login #region-main .card.mt-1 {
    display: none;
}

/*
Commente le !important pour passer le test de coding style.
Trouver une solution pour améliorer l'affichage de la politique du site.
*/
/*
#page-user-policy #resourceobject {
    height: 1000px !important;
}
*/
