{{!
    @template theme_apsolu/legal/medical

    Template Moodle pour afficher la page de recommandations médicales.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * none

}}
<p id="about">Afin de poursuivre la navigation sur ce site, merci de bien vouloir lire ces recommandations médicales et
    les valider.</p>

<h2>Recommandations médicales</h2>

<p>Le certificat médical de non contre-indication n’est pas obligatoire pour la pratique du sport en dehors de la
    compétition.</p>

<p>Si je réponds par la positive à une des propositions suivantes :</p>
<ul>
    <li>votre médecin vous a déjà interdit ou limité le sport,</li>
    <li>vous avez un suivi médical régulier et/ou vous suivez actuellement un traitement,</li>
    <li>vous avez ressenti pendant ou après un effort les symptômes suivants : malaise, perte de connaissance, douleur
        thoracique, palpitations, fatigue ou essoufflement inhabituels,
    </li>
    <li>vous avez connaissance d’un cas de décès brutal (hors accident) dans votre famille avant l’âge de 50 ans.</li>
</ul>

<p>Je m'engage :</p>
<ul>
    <li>à prendre rendez-vous avec la médecine préventive ou mon médecin personnel pour qu'il me délivre un certificat
        médical de non contre-indication à la pratique du sport concerné,
    </li>
    <li>à présenter ce certificat en cours.</li>
</ul>

<h2>Informations sport et santé</h2>
<p>La pratique régulière du sport a des effets bénéfiques sur la santé.</p>
<p>L’organisation mondiale de la santé (OMS) définit la santé comme : «Un bien-être physique, mental et social ».</p>

<dt><b>Pour le bien-être physique :</b></dt>
<dd>Les activités physiques et sportives contribuent au maintien et au développement des qualités physiques. Elles sont
    reconnues comme des facteurs essentiels dans le domaine de la prévention, du traitement d’un grand nombre de
    maladies chroniques.
</dd>
<dt><b>Pour le bien-être mental :</b></dt>
<dd>Effet bénéfique sur le sommeil, le stress, l’anxiété, le sentiment de maîtrise et de contrôle personnel. Renforce
    l’estime de soi.
</dd>
<dt><b>Pour le bien-être social :</b></dt>
<dd>Permet de s’affirmer aux yeux d’autrui, d’être socialement reconnu, de créer un réseau de relations, de développer
    le sentiment d’appartenance à un groupe.
</dd>
