{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_apsolu/homepage_navbar

    Template Moodle pour afficher la page d'accueil personnalisée.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * count_activities
    * dashboard_link
    * login_link
    * section1_text
    * section1_image_credits
    * sites
        * id
        * name
    * activities
        * id
        * name
    * section2_image_credits
    * section3_text
    * section3_image_credits
    * institutional_account_url
    * non_institutional_account_url

    Example context (json):
    {
        "count_activities": "0",
        "dashboard_link": "",
        "login_link": "",
        "section1_text": "",
        "section1_image_credits": "",
        "sites": [],
        "activities": [],
        "section2_image_credits": "",
        "section3_text": "",
        "section3_image_credits": "",
        "institutional_account_url": "",
        "non_institutional_account_url": ""
    }
}}

<nav class="navbar fixed-top apsolu-navbar apsolu-color-custom-2" id="apsolu-homepage-navbar">
        <span class="container d-flex justify-content-center">
            {{#count_activities}}
                <ul class="nav m-auto">
                    <li class="nav-item apsolu-link-light">
                        <a class="nav-link " href="#accueil">{{#str}}home, theme_apsolu{{/str}}</a>
                    </li>
                    <li class="nav-item dropdown apsolu-link-light">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Offre sportive
                        </a>
                        <div class="dropdown-menu aalink" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#liste-activites">{{#str}}
                                the_activities, theme_apsolu{{/str}}</a>
                            <a class="dropdown-item disabled" href="#stages">Stages</a>
                            <a class="dropdown-item disabled" href="#evenements">Evénements</a>
                            <a class="dropdown-item disabled" href="#animations">Animations</a>
                            <a class="dropdown-item disabled" href="#pratiques">Pratiques autonomes</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item disabled" href="#adhesion">Adhésion à l'association sportive</a>
                        </div>
                    </li>
                    <li class="nav-item apsolu-link-light">
                        <a class="nav-link apsolu-link-light" href="#inscription">{{#str}}
                            signup, theme_apsolu{{/str}}</a>
                    </li>
                    <li class="nav-item apsolu-link-light">
                        {{#login_link}}
                            <a class="nav-link" href="#connexion">{{#str}}login, moodle{{/str}}</a>
                        {{/login_link}}
                    </li>
                </ul>
            {{/count_activities}}
        </span>
</nav>
