{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_apsolu/homepage

    Template Moodle pour afficher la page d'accueil personnalisée.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * count_activities
    * dashboard_link
    * login_link
    * section1_text
    * section1_image_credits
    * sites
        * id
        * name
    * activities
        * id
        * name
    * section2_image_credits
    * section3_text
    * section3_image_credits
    * institutional_account_url
    * non_institutional_account_url

    Example context (json):
    {
        "count_activities": "0",
        "dashboard_link": "",
        "login_link": "",
        "section1_text": "",
        "section1_image_credits": "",
        "sites": [],
        "activities": [],
        "section2_image_credits": "",
        "section3_text": "",
        "section3_image_credits": "",
        "institutional_account_url": "",
        "non_institutional_account_url": ""
    }
}}
<div id="apsolu-page">
    {{! En-tête }}
    {{! Menu 2 : Navigation }}
    <nav class="navbar fixed-top apsolu-navbar apsolu-color-custom-2" id="apsolu-homepage-navbar">
        <div class="container d-flex justify-content-center">
            {{#count_activities}}
                <ul class="nav m-auto">
                    <li class="nav-item apsolu-link-light">
                        <a class="nav-link " href="#accueil">{{#str}}home, theme_apsolu{{/str}}</a>
                    </li>
                    <li class="nav-item dropdown apsolu-link-light">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Formats de cours
                        </a>
                        <div class="dropdown-menu aalink" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#activites">{{#str}}
                                the_activities, theme_apsolu{{/str}}</a>
                            <a class="dropdown-item disabled" href="#activites">Cours</a>
                            <a class="dropdown-item disabled" href="#activites">Stages</a>
                            <a class="dropdown-item disabled" href="#activites">Evénements</a>
                            <a class="dropdown-item disabled" href="#activites">Animations</a>
                            <a class="dropdown-item disabled" href="#activites">Pratiques autonomes</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item disabled" href="#activites">Adhésion à l'association sportive</a>
                        </div>
                    </li>
                    <li class="nav-item apsolu-link-light">
                        <a class="nav-link apsolu-link-light" href="#inscription">{{#str}}
                            signup, theme_apsolu{{/str}}</a>
                    </li>
                    <li class="nav-item apsolu-link-light">
                        {{#login_link}}
                            <a class="nav-link" href="#connexion">{{#str}}login, moodle{{/str}}</a>
                        {{/login_link}}
                    </li>
                </ul>
            {{/count_activities}}
        </div>
    </nav>

    {{! Section 1 : accueil }}
    <section class="apsolu-pages" id="accueil">
        <div class="apsolu-images d-flex align-items-end flex-row-reverse" id="section-1">
            {{#section1_image_credits}}
                <p class="apsolu-photo-credits">
                    Crédit image de fond : {{ section1_image_credits }}
                </p>
            {{/section1_image_credits}}
        </div>

        <article class="apsolu-article mb-0">
            <div class="container-md">
                {{{ section1_text }}}
            </div>
        </article>
    </section>

    {{! Section 2 : Formats de cours }}
    <section class="apsolu-pages" id="activites">

        <div class="apsolu-images d-flex align-items-end flex-row-reverse" id="section-2">
            {{#section2_image_credits}}
                <p class="apsolu-photo-credits">
                    Crédit image de fond : {{ section2_image_credits }}
                </p>
            {{/section2_image_credits}}
        </div>

        <article class="apsolu-article">
            <div class="container-md">
                <h2>Formats de cours</h2>

                <ul class="nav nav-tabs mb-2" id="apsolu-formats-cours">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#home">{{#str}}
                            activities_list, theme_apsolu{{/str}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" data-bs-toggle="tab" href="#">Stages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" data-bs-toggle="tab" href="#">Evenements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" data-bs-toggle="tab" href="#">Animations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" data-bs-toggle="tab" href="#">Pratiques autonomes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" data-bs-toggle="tab" href="#">Adhésion à l'Association Sportive</a>
                    </li>
                </ul>

                <div id="apsolu-formats-cours-contenu" class="tab-content">

                    <div class="tab-pane fade show active" id="home">

                        {{! TODO Section 2a : Activités }}
                        <h2 class="sr-only">{{#str}}activities, theme_apsolu{{/str}}</h2>

                        <div id="apsolu-sites-content-div" class="text-right">
                            {{! sites }}
                            <ul id="apsolu-sites-list-ul" class="list-inline">
                                {{#multisites}}
                                    <li class="list-inline-item"><a class="btn btn-outline-primary"
                                                                    href="{{wwwroot}}/local/apsolu/presentation/summary.php">{{#str}}
                                        all_cities, local_apsolu{{/str}}</a></li>
                                {{/multisites}}
                                {{#sites}}
                                    <li class="list-inline-item"><a class="btn btn-outline-primary"
                                                                    href="{{wwwroot}}/local/apsolu/presentation/summary.php?siteid={{id}}
                                        ">{{name}}</a></li>
                                {{/sites}}
                            </ul>
                        </div>

                        <div id="apsolu-activities-content-div">
                            {{! activities }}
                            <ul id="apsolu-activities-list-ul" class="list-unstyled row">
                                {{#activities}}
                                    <li class="col-md-3 list-group-item mb-1 overflow-hidden text-center"><span
                                        class="apsolu-homepage-activities-items-span">{{name}}</span></li>
                                {{/activities}}
                            </ul>
                        </div>
                    </div>

                    {{! TODO Section 2b : Cours }}
                    <div class="tab-pane fade" id="profile">
                        <p></p>
                    </div>

                    {{! TODO Section 2c : Stages }}
                    <div class="tab-pane fade" id="dropdown1">
                        <p></p>
                    </div>

                    {{! TODO Section 2d : Evénements }}
                    <div class="tab-pane fade" id="dropdown2">
                        <p></p>
                    </div>

                    {{! TODO Section 2d : Evénements }}
                    <div class="tab-pane fade" id="dropdown2">
                        <p></p>
                    </div>

                    {{! TODO Section 2e : Animations }}
                    <div class="tab-pane fade" id="dropdown2">
                        <p></p>
                    </div>

                    {{! TODO Section 2f : Pratiques autonomes }}
                    <div class="tab-pane fade" id="dropdown2">
                        <p></p>
                    </div>

                </div>
            </div>
        </article>

    </section>

    {{! TODO Section 3 : Evénements }}
    <section></section>

    {{! TODO Section 4 : Inscription }}
    <section class="apsolu-pages" id="inscription">

        <div class="apsolu-images d-flex align-items-end flex-row-reverse" id="section-3">
            {{#section3_image_credits}}
                <p class="apsolu-photo-credits">
                    Crédit image de fond : {{ section3_image_credits }}
                </p>
            {{/section3_image_credits}}
        </div>

        <article class="apsolu-article">
            <div class="container-md">
                <h2 class="sr-only">{{#str}}signup, theme_apsolu{{/str}}</h2>

                {{{ section3_text }}}

                {{#login_link}}
                    <ul class="row justify-content-md-center">
                        {{#institutional_account_url}}
                            <li class="col-md-4 col-md-offset-2">
                                <a class="btn btn-success btn-lg" href="{{ institutional_account_url }}">
                                    {{#str}}i_have_an_institutional_account, theme_apsolu{{/str}}
                                </a>
                            </li>
                        {{/institutional_account_url}}
                        {{#non_institutional_account_url}}
                            <li class="col-md-4">
                                <a class="btn btn-default btn-secondary btn-lg"
                                   href="{{ non_institutional_account_url }}#internal">
                                    {{#str}}i_have_not_an_institutional_account, theme_apsolu{{/str}}
                                </a>
                            </li>
                        {{/non_institutional_account_url}}
                    </ul>
                {{/login_link}}

            </div>
        </article>

    </section>

    {{! TODO Pied de page }}
    <footer class="footer " id="apsolu-custom-footer">
        <div class="container-fluid">
            <div class="row apsolu-color-custom-1 d-none">
            </div>
            <div class="row apsolu-color-custom-2 d-none">
                <nav>
                    <ul class="nav justify-content-start apsolu-link-light">
                        <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#mentionsLegales">Mentions
                            légales</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#confidentialite">Politique
                            de confidentialité</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="modal" data-target="#contact">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>

</div>

{{! TODO Mentions légales }}
<div class="modal fade" id="mentionsLegales" tabindex="-1" aria-labelledby="mentionsLegalesLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mentionsLegalesLabel">Mentions Légales</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

{{! TODO Politique de confidentialité }}
<div class="modal fade" id="confidentialite" tabindex="-1" aria-labelledby="confidentialiteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confidentialiteLabel">Données personnelles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

{{! TODO Contact }}
<div class="modal fade" id="contact" tabindex="-1" aria-labelledby="contactLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mentionsLegalesLabel">Contact</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
