{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_apsolu/homepage

    Template Moodle pour afficher la page d'accueil personnalisée.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * count_activities
    * sitename - The name of the site
    * dashboard_link
    * login_link
    * section1_text
    * section1_image_credits
    * section1_welcome_text
    * sites
        * id
        * name
    * activities
        * id
        * name
    * section2_image_credits
    * section3_text
    * section3_image_credits
    * institutional_account_url
    * non_institutional_account_url
    * legal_notice_doc_text
    * confidential_doc_text
    * contact_doc_text

    Example context (json):
    {
        "sitename": "",
        "count_activities": "0",
        "dashboard_link": "",
        "login_link": "",
        "section1_text": "",
        "section1_image_credits": "",
        "section1_welcome_text": "",
        "sites": [],
        "activities": [],
        "section2_image_credits": "",
        "section3_text": "",
        "section3_image_credits": "",
        "institutional_account_url": "",
        "non_institutional_account_url": "",
        "legal_notice_doc_text": "",
        "confidential_doc_text": "",
        "contact_doc_text": ""
    }
}}
<div id="apsolu-page">
    {{! Section 1 : accueil }}
    <section id="accueil" class="apsolu-pages">
        <span id="section-1" class="apsolu-images d-flex align-items-end flex-row-reverse">
            {{#section1_image_credits}}
                <div class="badge badge-photo-credits">
                    <span><i class="fa fa-camera" aria-hidden="true"
                             alt="Crédit image de fond :{{ section1_image_credits }}"></i></span>
                    <span class="d-none d-sm-inline">{{ section1_image_credits }}</span>
                </div>
            {{/section1_image_credits}}
            {{#section1_welcome_text}}
                <div id="textbox" class="mr-auto my-auto ml-5 p-3 text-light">
                    {{{ section1_welcome_text }}}
                </div>
            {{/section1_welcome_text}}
        </span>
        <div class="apsolu-article-title">
            <div class="container">
                <h2 class="display-4"><i aria-hidden="true" class="fa fa-chevron-circle-right mr-3"></i>{{#str}}
                    about, theme_apsolu{{/str}}</h2>
            </div>
        </div>
        <article class="apsolu-article mb-0">
            <div class="container-md">
                {{{ section1_text }}}
            </div>
        </article>
    </section>

    {{! Section 2 : Formats de cours }}
    <section id="activites" class="apsolu-pages">
        <div id="section-2" class="apsolu-images d-flex align-items-end flex-row-reverse">
            {{#section2_image_credits}}
                <div class="badge badge-photo-credits d-none d-sm-block">
                    <span><i class="fa fa-camera" aria-hidden="true"
                             alt="Crédit image de fond :{{ section2_image_credits }}"></i></span>
                    <span class="d-none d-sm-inline">{{ section2_image_credits }}</span>
                </div>
            {{/section2_image_credits}}
        </div>
        <div class="apsolu-article-title">
            <div class="container">
                <h2 class="display-4"><i aria-hidden="true" class="fa fa-chevron-circle-right mr-3"></i>{{#str}}
                    courses_catalogue, theme_apsolu{{/str}}</h2>
            </div>
        </div>
        <article class="apsolu-article">
            <div class="container-md">
                <div id="formats-cours">
                    {{! Onglets formats de cours. }}
                    <ul class="nav nav-tabs mb-2" role="tablist">
                        <li role="presentation" class="nav-item">
                            <button id="liste-activites-tab" class="nav-link active" data-toggle="tab" data-target="#liste-activites"
                                    type="button" role="tab" aria-controls="liste-activites" aria-selected="false">
                                {{#str}}activities_list, theme_apsolu{{/str}}
                            </button>
                        </li>
                        {{# homepage_section2_training_text }}
                            <li role="presentation" class="nav-item">
                                <button id="stages-tab" class="nav-link" data-toggle="tab" data-target="#stages" type="button"
                                        role="tab" aria-controls="stages" aria-selected="false">{{#str}}
                                    sport_training_sessions, theme_apsolu{{/str}}
                                </button>
                            </li>
                        {{/ homepage_section2_training_text }}
                        {{# homepage_section2_events_text }}
                            <li role="presentation" class="nav-item">
                                <button id="evenements-tab" class="nav-link" data-toggle="tab" data-target="#evenements"
                                        type="button" role="tab" aria-controls="evenements" aria-selected="false">{{#str}}
                                    events, theme_apsolu{{/str}}
                                </button>
                            </li>
                        {{/ homepage_section2_events_text }}
                        {{# homepage_section2_animations_text }}
                            <li role="presentation" class="nav-item">
                                <button id="animations-tab" class="nav-link" data-toggle="tab" data-target="#animations"
                                        type="button" role="tab" aria-controls="animations" aria-selected="false">{{#str}}
                                    animations, theme_apsolu{{/str}}
                                </button>
                            </li>
                        {{/ homepage_section2_animations_text }}
                        {{# homepage_section2_practice_text}}
                            <li role="presentation" class="nav-item">
                                <button id="pratiques-tab" class="nav-link" data-toggle="tab" data-target="#pratiques" type="button"
                                        role="tab" aria-controls="pratiques" aria-selected="false">{{#str}}
                                    practice, theme_apsolu{{/str}}
                                </button>
                            </li>
                        {{/homepage_section2_practice_text}}
                        {{# homepage_section2_association_text }}
                            <li role="presentation" class="nav-item">
                                <button id="adhesion-tab" class="nav-link" data-toggle="tab" data-target="#adhesion" type="button"
                                        role="tab" aria-controls="adhesion" aria-selected="false">{{#str}}
                                    sport_association, theme_apsolu{{/str}}
                                </button>
                            </li>
                        {{/ homepage_section2_association_text }}
                    </ul>

                    {{! Contenu des onglets formats de cours. }}
                    <div class="tab-content">
                        {{! Section 2a : Activités. }}
                        {{> theme_apsolu/activities/activities-list }}
                        {{! TODO Section 2c : Stages. }}
                        {{> theme_apsolu/activities/sport-training-sessions }}
                        {{! TODO Section 2d : Evénements. }}
                        {{> theme_apsolu/activities/events }}
                        {{! TODO Section 2e : Animations. }}
                        {{> theme_apsolu/activities/animations }}
                        {{! Section 2f : Pratiques autonomes. }}
                        {{> theme_apsolu/activities/practice }}
                        {{! Section 2g : Adhésion à l'AS. }}
                        {{> theme_apsolu/activities/sport-association }}
                    </div>
                </div>
            </div>
        </article>
    </section>

    {{! Section 3 : S'inscrire. }}
    <section id="inscription" class="apsolu-pages">
        <div id="section-3" class="apsolu-images d-flex align-items-end flex-row-reverse">
            {{#section3_image_credits}}
                <div class="badge badge-photo-credits ">
                    <span><i class="fa fa-camera" aria-hidden="true"
                             alt="Crédit image de fond :{{ section3_image_credits }}"></i></span>
                    <span class="d-none d-sm-inline">{{ section3_image_credits }}</span>
                </div>
            {{/section3_image_credits}}
        </div>
        <div class="apsolu-article-title">
            <div class="container">
                <h2 class="display-4"><i aria-hidden="true" class="fa fa-chevron-circle-right mr-3"></i>{{#str}}
                    signup, theme_apsolu{{/str}}</h2>
            </div>
        </div>
        <article class="apsolu-article">
            <div class="container-md">
                <h2 class="sr-only">{{#str}}signup, theme_apsolu{{/str}}</h2>
                {{{ section3_text }}}
            </div>
        </article>
    </section>

    {{! Section 4 : Connexion. }}
    {{#login_link}}
        <section id="connexion" class="apsolu-pages">
            <article class="apsolu-article">
                <div class="container">
                    <div class="jumbotron">
                        <h2 class="display-4 text-center">Connexion à l'espace sport</h2>
                        <hr>
                        <ul class="apsolu-inscription row justify-content-md-center">
                            {{#institutional_account_url}}
                                <li class="col-md-4 col-md-offset-2">
                                    <a id="inscription" class="btn btn-success btn-lg" href="{{ institutional_account_url }}">
                                        <i class="fa fa-university" aria-hidden="true"></i>
                                        {{#str}}i_have_an_institutional_account, theme_apsolu{{/str}}
                                    </a>
                                </li>
                            {{/institutional_account_url}}
                            {{#non_institutional_account_url}}
                                <li class="col-md-4">
                                    <a id="connexion" class="btn btn-default btn-secondary btn-lg"
                                       href="{{ non_institutional_account_url }}#internal">
                                        {{#str}}i_have_not_an_institutional_account, theme_apsolu{{/str}}
                                    </a>
                                </li>
                            {{/non_institutional_account_url}}
                        </ul>
                    </div>
                </div>
            </article>
        </section>
    {{/login_link}}
    <!-- On charge le pied de page -->
    {{> theme_apsolu/components/footer }}
</div>

