{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_apsolu/components/footer

    Template purpose and description.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * homepage_footer_logo_1

    Context variables required for this template:
    * nav_link_1_url
    * nav_link_2_url
    * nav_link_3_url
    * nav_link_1_text
    * nav_link_2_text
    * nav_link_3_text
    * homepage_footer_logo_1
    * homepage_footer_logo_2
    * homepage_footer_logo_3
    * footer_text_section
    * output - The core renderer for the page

    Example context (json):
    {
        "output": {
                "nav_link_1_url": true,
                "theme_apsolu/nav_link_1_text": "",
                "nav_link_2_url": "",
                "theme_apsolu/nav_link_2_text": "",
                "nav_link_3_url": "",
                "theme_apsolu/nav_link_3_text": "",
        },
    }
}}
<footer id="apsolu-custom-footer-1" class="section text-light bg-dark">
    <div class="container-fluid">
        {{! Pied de page personnalisé }}
        <div class="row row-cols-3 mx-6 my-3 justify-content-md-center">
            <div class="col-12 col-md-auto">
                <div class="row row-cols-md-3 justify-content-center">
                    {{#homepage_footer_logo_1}}
                        <div class="col-4 col-md-auto">
                            <img id="footer-logo-1" class="mw-100" src="{{{ get_homepage_footer_logo_1_url }}}">
                        </div>
                    {{/homepage_footer_logo_1}}
                    {{#homepage_footer_logo_2}}
                        <div class="col-4 col-md-auto">
                            <img id="footer-logo-2" class="mw-100" src="{{{ get_homepage_footer_logo_2_url }}}">
                        </div>
                    {{/homepage_footer_logo_2}}
                    {{#homepage_footer_logo_3}}
                        <div class="col-4 col-md-auto">
                            <img id="footer-logo-3" class="mw-100" src="{{{ get_homepage_footer_logo_3_url }}}">
                        </div>
                    {{/homepage_footer_logo_3}}
                </div>
            </div>
            {{! Note de bas de page }}
            <div class="col-12 col-md-3">
                <p>{{ footer_text_section }}</p>
            </div>
            {{! Liens hypertexte }}
            <div class="col-12 col-md-2">
                <ul class="nav-list">
{{#nav_link_1_text}}
                    <li><a href="{{{ nav_link_1_url }}}">{{{ nav_link_1_text }}} <i class="fa fa-external-link" aria-hidden="true"></i></a>
                    </li>
    {{/nav_link_1_text}}
    {{#nav_link_2_text}}
                    <li><a href="{{{ nav_link_2_url }}}">{{{ nav_link_2_text }}} <i class="fa fa-external-link" aria-hidden="true"></i></a>
                    </li>
        {{/nav_link_2_text}}
        {{#nav_link_3_text}}
                    <li class="nav-item"><a href="{{{ nav_link_3_url }}}">{{{ nav_link_3_text }}} <i class="fa fa-external-link" aria-hidden="true"></i></a>
                    </li>
            {{/nav_link_3_text}}
                </ul>
            </div>
        </div>
        <hr class="my-0">
        {{! Navigation : fenêtes modales }}
        <div class="row row-cols-3 modal-container justify-content-center">
            {{#legal_notice_doc_text}}
                <div class="col-12 col-sm-3">
                    <a class="modal-inner" data-toggle="modal" data-target="#mentionsLegales" href="#">{{#str}}
                        legal_notice, theme_apsolu{{/str}}</a>
                </div>
            {{/legal_notice_doc_text}}
            {{#confidential_doc_text}}
                <div class="col-12 col-sm-3">
                    <a class="modal-inner" data-toggle="modal" data-target="#confidentialite" href="#">{{#str}}
                        confidential, theme_apsolu{{/str}}</a>
                </div>
            {{/confidential_doc_text}}
            {{#contact_doc_text}}
                <div class="col-12 col-sm-3">
                    <a class="modal-inner" data-toggle="modal" data-target="#contact" href="#">{{#str}}
                        contact_us, theme_apsolu{{/str}}</a>
                </div>
            {{/contact_doc_text}}
        </div>
    </div>
</footer>

<!-- On charge les fenêtres modales-->
{{> theme_apsolu/modal/legal_notice }}
{{> theme_apsolu/modal/confidential }}
{{> theme_apsolu/modal/contact }}
