{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_apsolu/header

    Template Moodle pour afficher l'en-tête de la page d'accueil personnalisée.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * count_activities
    * dashboard_link
    * login_link
    * section1_text
    * section1_image_credits
    * sites
        * id
        * name
    * activities
        * id
        * name
    * section2_image_credits
    * section3_text
    * section3_image_credits
    * institutional_account_url
    * non_institutional_account_url
    * nav_link_1_url
    * nav_link_1_text
    * nav_link_2_url
    * nav_link_2_text
    * nav_link_3_url
    * nav_link_3_text

    Example context (json):
    {
        "count_activities": "0",
        "dashboard_link": "",
        "login_link": "",
        "section1_text": "",
        "section1_image_credits": "",
        "sites": [],
        "activities": [],
        "section2_image_credits": "",
        "section3_text": "",
        "section3_image_credits": "",
        "institutional_account_url": "",
        "non_institutional_account_url": ""
    }
}}
<nav id="apsolu-header-navbar" class="navbar navbar-apsolu navbar-dark bg-dark navbar-expand"
     aria-label="{{#str}}sitemenubar, admin{{/str}}">
    <span class="d-inline-flex mb-0 apsolu-color-custom-1">
            <a href="{{{ config.homeurl }}}" class="navbar-brand d-flex align-items-center my-1 me-2 ms-2 p-0 aabtn">
                {{# output.should_display_navbar_logo }}
                    <img src="{{output.get_compact_logo_url}}" class="logo me-2" alt="{{sitename}}">
                {{/ output.should_display_navbar_logo }}
                {{{ sitename }}}
            </a>
    </span>

    {{#isloggedin}}
        {{#menu}}
        <div class="primary-navigation">
            {{> core/moremenu}}
        </div>
        {{/menu}}
    {{/isloggedin}}

    {{^isloggedin}}
    <div id="brand-links" class="primary-navigation">
        <nav class="moremenu navigation observed">
            <ul class="nav more-nav navbar-nav" role="menubar">
                {{#menu}}
                    <li class="nav-item">
                        <a class="nav-link" role="menuitem" href="{{ url }}">{{ text }}</a>
                    </li>
                {{/menu}}
            </ul>
        </nav>
    </div>
    {{/isloggedin}}

    <div id="usernavigation" class="navbar-nav ms-auto">
        <div class="d-flex align-items-stretch usermenu-container" data-region="usermenu">
            {{{ output.user_menu }}}
        </div>
    </div>
</nav>
<nav id="apsolu-homepage-navbar" class="navbar navbar-expand-md navbar-dark apsolu-color-custom-2">
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
            aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-chevron-down fa-fw " aria-hidden="true"></i>
    </button>

    <div id="navbarMenu" class="navbar-collapse justify-content-md-center collapse">
        {{!#count_activities}}
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link " href="#accueil">{{#str}}home, theme_apsolu{{/str}}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                   role="button"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-plus"></i>
                    {{#str}}courses_catalogue, theme_apsolu{{/str}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#activites">{{#str}}
                        the_activities, theme_apsolu{{/str}}</a>
                    {{# homepage_section2_training_sessions_text }}<a class="dropdown-item disabled d-none" href="#activites">{{#str}}
                        sport_training_sessions, theme_apsolu{{/str}}</a>{{/ homepage_section2_training_sessions_text }}
                    {{# homepage_section2_events }}<a class="dropdown-item disabled d-none" href="#activites">{{#str}}
                        events, theme_apsolu{{/str}}</a>{{/ homepage_section2_events }}
                    {{# homepage_section2_animations }}<a class="dropdown-item disabled d-none" href="#activites">{{#str}}
                        animations, theme_apsolu{{/str}}</a>{{/ homepage_section2_animations }}
                    {{# homepage_section2_practice_text }}<a class="dropdown-item" href="#activites">{{#str}}
                        practice, theme_apsolu{{/str}}</a>{{/ homepage_section2_practice_text }}
                    <div class="dropdown-divider"></div>
                    {{# homepage_section2_association_text }}<a class="dropdown-item" href="#activites">{{#str}}
                        sport_association, theme_apsolu{{/str}}</a>{{/ homepage_section2_association_text }}
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#inscription">{{#str}}
                    signup, theme_apsolu{{/str}}{{^isloggedin}}/{{#str}}login, moodle{{/str}}{{/isloggedin}}</a>
            </li>
        </ul>
        {{!/count_activities}}
    </div>
</nav>
