{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!

    @template theme_apsolu/components/navigation-menu

    Template Moodle pour afficher la navbar custom sur la page d'accueil.

    Context variables required for this template:
    * nav_link_1_url
    * nav_link_2_url
    * nav_link_3_url
    * nav_link_1_text
    * nav_link_2_text
    * nav_link_3_text
    * output - The core renderer for the page

    Example context (json):
    {
        "output": {
            "nav_link_1_url": true,
            "theme_apsolu/nav_link_1_text": "",
            "nav_link_2_url": "",
            "theme_apsolu/nav_link_2_text": "",
            "nav_link_3_url": "",
            "theme_apsolu/nav_link_3_text": "",
            "support_contact": "",
        },
        "config": {
            "wwwroot": "#"
        },
        "sitename": "Moodle Site"
    }
}}

<nav class="navbar navbar-expand-lg fixed-top apsolu-navbar navbar-dark bg-dark moodle-has-zindex"
     id="apsolu-header-navbar" aria-label="{{#str}}sitemenubar, admin{{/str}}">

    <button class="navbar-toggler aabtn d-block d-md-none px-1 my-1 border-0" data-toggler="drawers" data-action="toggle"
            data-target="theme_boost-drawers-primary">
        <span class="navbar-toggler-icon"></span>
        <span class="sr-only">{{#str}}sidepanel, core{{/str}}</span>
    </button>
    <span class="mb-0 apsolu-color-custom-1">
    <a href="{{{ config.homeurl }}}" class="navbar-brand d-none d-md-flex align-items-center my-1 mr-2 ml-2 p-0 aabtn">

        {{# output.should_display_navbar_logo }}
            <img src="{{output.get_compact_logo_url}}" class="logo mr-1" alt="{{sitename}}">
        {{/ output.should_display_navbar_logo }}

        {{{ sitename }}}

    </a>
    </span>


    <div class="primary-navigation">
        <nav class="navigation">
            <ul class="nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="{{{ output.nav_link_1_url }}}">{{{ output.nav_link_1_text }}}</a>
                </li>
                <li class="nav-item"><a class="nav-link " href="{{{ output.nav_link_2_url }}}">{{{ output.nav_link_2_text }}}</a>
                </li>
                <li class="nav-item"><a class="nav-link " href="{{{ output.nav_link_3_url }}}">{{{ output.nav_link_3_text }}}</a>
                </li>
            </ul>
        </nav>
    </div>


    <ul class="navbar-nav d-none d-md-flex my-1 px-1">
        <!-- page_heading_menu -->
        {{{ output.page_heading_menu }}}
    </ul>

    <div id="usernavigation" class="navbar-nav ml-auto">
        {{# output.search_box }}
            {{{ output.search_box }}}
            <div class="divider border-left h-75 align-self-center mx-1"></div>
        {{/output.search_box}}
        {{#langmenu}}
            {{> theme_boost/language_menu }}
            <div class="divider border-left h-75 align-self-center mx-1"></div>
        {{/langmenu}}
        {{{ output.navbar_plugin_output }}}
        <div class="d-flex align-items-stretch usermenu-container" data-region="usermenu">
            {{#usermenu}}
                {{> core/user_menu }}
            {{/usermenu}}
        </div>
        {{{ output.edit_switch }}}
    </div>

</nav>

{{> theme_boost/primary-drawer-mobile }}
