@import "/theme/classic/scss/classic/pre.scss";
@import "/theme/classic/scss/preset/default.scss";
@import "/theme/classic/scss/classic/post.scss";

/**
 * Styles complémentaires pour la personnalisation de l'instance.
 * TODO: ajouter variables
 */

/* Personnalisation des liens */
.apsolu-link a {
    text-decoration: none;
}

&--light {
    @extend .apsolu-link;
    color:$white;
}

&--dark{
    @extend .apsolu-link;
    color:$black;
}

&--custom {
    @extend .apsolu-link;
    color:$custom;
}

/* Personnalisation des menus déroulants */
.dropdown-menu a {
    color: #004D40;
}

/* Personnalisation des barres de navigation */

.apsolu-navbar {
    height : 50px;
}

&--dashboard-default{
    @extend .apsolu-navbar;
    //background-color: $default;
}

&--dashboard-custom{
    @extend .apsolu-navbar;
    //background-color: $custom;
}

&--homepage-default{
    @extend .apsolu-navbar;
    margin-top:50px;
    //background-color: $default;
    //border-top: 4px solid $default;
}

&--homepage-custom{
    @extend .apsolu-navbar;
    margin-top:50px;
    //background-color: $custom;
    //border-top: 4px solid $custom;
}

.apsolu-brand {
    padding: 0.5em;
    color: blue;
}

/* Personnalisation du pied de page */
.apsolu-footer {}

.apsolu-footer-navbar{}

&--default{}

&--custom{}

